.list {
    column-count: 2;

    & li {
        list-style: disc;
        list-style-position: inside;


        page-break-inside: avoid;
            break-inside: avoid;
    }
}
.icon {width: 5vw}


@media (max-width: 770px) {
    .icon {width: 10vh}
}

@media (max-width: 450px) {
    .icon {width: 15vw}
}