.slide {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.block {
    width: 70vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--color-background);
}

.container {
    width: 50%;
    margin: 0 auto;
}

.img {width: 25vw}